<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spark.webapi.dao.ScoreMapper">
  <resultMap id="BaseResultMap" type="spark.webapi.entity.Score">
    <id column="stu_no" jdbcType="INTEGER" property="stuNo" />
    <id column="course_no" jdbcType="INTEGER" property="courseNo" />
    <result column="score" jdbcType="INTEGER" property="score" />
  </resultMap>
  <sql id="Base_Column_List">
    stu_no, course_no, score
  </sql>
  <select id="selectByPrimaryKey" parameterType="spark.webapi.entity.ScoreKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from score
    where stu_no = #{stuNo,jdbcType=INTEGER}
      and course_no = #{courseNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="spark.webapi.entity.ScoreKey">
    delete from score
    where stu_no = #{stuNo,jdbcType=INTEGER}
      and course_no = #{courseNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="spark.webapi.entity.Score">
    insert into score (stu_no, course_no, score
      )
    values (#{stuNo,jdbcType=INTEGER}, #{courseNo,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="spark.webapi.entity.Score">
    update score
    set score = #{score,jdbcType=INTEGER}
    where stu_no = #{stuNo,jdbcType=INTEGER}
      and course_no = #{courseNo,jdbcType=INTEGER}
  </update>
  <select id="selectCourseMax" resultType="spark.webapi.entity.Score">
    select course_no,max(score)as score from score group by course_no 
  </select>
  <select id="selectCourseMin" resultType="spark.webapi.entity.Score">
  	select course_no,min(score)as score from score group by course_no
  </select>
  <select id="selectCourseAvg" resultType="spark.webapi.entity.Score">
  	select course_no,avg(score)as score from score group by course_no
  </select>
  <select id="selectMajorMax" resultType="spark.webapi.entity.Score">
  	select major_no,max(score)as score from score join student on score.stu_no=student.stu_no GROUP BY major_no
  </select>
  <select id="selectMajorMinx" resultType="spark.webapi.entity.Score">
  	select major_no,min(score)as score from score join student on score.stu_no=student.stu_no GROUP BY major_no
  </select>
  <select id="selectMajorAvg" resultType="spark.webapi.entity.Score">
  	select major_no,avg(score)as score from score join student on score.stu_no=student.stu_no GROUP BY major_no
  </select>
</mapper>